.btn-primary {
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-primary:hover {
    background-color: #520dc2;
    border-color: #520dc2;
}

body {
    font-family: 'Segoe UI', sans-serif;
}
